<h2>Employee List</h2>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Job Title</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.jobTitle}}</td>
    <td><img src="{{employee.imageUrl}}" alt="image.jpg"></td>
    <td>
      <button class="btn btn-info" (click)="updateEmployee(employee.id)">Edit</button>
      <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteEmployee(employee.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
